<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% comment %} {% render 'css-variables' %} {% endcomment %}

    {% # Load and preload the critical CSS %}
    {{ 'common.css' | asset_url | stylesheet_tag: preload: true }}

    {% comment %} Bootstrap CSS {% endcomment %}
    <link
      href="{{ 'bootstrap.min.css' | asset_url }}"
      rel="stylesheet"
    >

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <!-- Bootstrap JS (with Popper) -->
    <script
      src="{{ 'bootstrap.bundle.min.js' | asset_url }}"
      defer
    ></script>
  </body>
</html>
