

<section class="common-card-section">
  <div class="container">
    <div>
      <h2 class="font-56 fw-bold text-white mb-56 text-center">
        Why Attend Water Lantern Festival?
      </h2>
      <div class="mb-56">
        <div class="row g-0 mb-32 align-items-stretch">
          <div class="col-md-6 col-12 pr-16 d-flex pb-32 pb-md-0">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img1.png' | asset_url }}"
                alt="why-attend-card-img1"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Healing</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Experience the therapeutic power of our festival, where the
                serene setting and the act of releasing lanterns provide a
                unique space for emotional healing and rejuvenation.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 pl-16 d-flex">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img2.png' | asset_url }}"
                alt="why-attend-card-img2"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Reflection</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Create moments of introspection as you watch your lantern drift
                on the water, offering a chance for personal reflection and a
                deeper connection with yourself.
              </p>
            </div>
          </div>
        </div>

        <div class="row g-0 mb-32 align-items-stretch">
          <div class="col-md-6 col-12 pr-16 d-flex pb-32 pb-md-0">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img3.png' | asset_url }}"
                alt="why-attend-card-img3"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Connection</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Forge lasting connections with family, friends and fellow
                attendees in a shared atmosphere of positivity, creating a sense
                of community that extends beyond the festival.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 pl-16 d-flex">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img4.png' | asset_url }}"
                alt="why-attend-card-img4"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Love</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Celebrate love in all its forms, whether it's the love for
                family, friends, or self. Our festival provides a beautiful
                backdrop to express and cherish these bonds.
              </p>
            </div>
          </div>
        </div>

        <div class="row g-0 mb-32 align-items-stretch">
          <div class="col-md-6 col-12 pr-16 d-flex pb-32 pb-md-0">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img5.png' | asset_url }}"
                alt="why-attend-card-img5"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">
                Celebrating the Present
              </h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Seize the moment and celebrate the beauty of life right now. Our
                festival encourages attendees to appreciate the present and find
                joy in the simple act of releasing a lantern.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 pl-16 d-flex">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img6.png' | asset_url }}"
                alt="why-attend-card-img6"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">
                Remembering the Past
              </h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Honor cherished memories by dedicating a lantern to loved ones.
                The festival becomes a meaningful way to remember and celebrate
                those who hold a special place in our hearts.
              </p>
            </div>
          </div>
        </div>

        <div class="row g-0 mb-32 align-items-stretch">
          <div class="col-md-6 col-12 pr-16 d-flex pb-32 pb-md-0">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img7.png' | asset_url }}"
                alt="why-attend-card-img7"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">
                Planning for the Future
              </h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Use the festival as a catalyst for setting intentions and
                envisioning the future. It's a unique opportunity to embrace
                hope and positivity for what lies ahead.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 pl-16 d-flex">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img8.png' | asset_url }}"
                alt="why-attend-card-img8"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">
                Overcoming Personal Challenges
              </h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                For many, attending the Water Lantern Festival symbolizes
                overcoming personal challenges and finding strength in the
                shared experience of hope and renewal.
              </p>
            </div>
          </div>
        </div>

        <div class="row g-0 mb-32 align-items-stretch">
          <div class="col-md-6 col-12 pr-16 d-flex pb-32 pb-md-0">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img9.png' | asset_url }}"
                alt="why-attend-card-img9"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Setting Goals</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Immerse yourself in an atmosphere of inspiration and motivation.
                The festival serves as a powerful backdrop for setting personal
                and collective goals.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 pl-16 d-flex">
            <div class="why-attend-card d-flex flex-column w-100">
              <img width= "" height=""
                src="{{ 'why-attend-card-img10.png' | asset_url }}"
                alt="why-attend-card-img10"
                class="img-fluid w-100 pb-32"
              />
              <h2 class="font-32 text-white fw-bold pb-24">Spreading Joy</h2>
              <p class="font-20 text-color-bd" style="font-family: Inter, sans-serif; line-height: 150%">
                Become a source of joy by joining in the collective act of
                releasing lanterns. Your participation contributes to a ripple
                effect of positivity, bringing joy to others.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-gradient">Buy Tickets</button>
      </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Why Attend Grid Section",
  "settings": [],
  "presets": [
    {
      "name": "Why Attend Grid Section"
    }
  ]
}
{% endschema %}